PORT = 5000
ORIGIN = ["http://localhost:3000"]
MONGO_URI = 
NODE_ENV = development

CLOUDINARY_NAME = 
CLOUDINARY_API_KEY = 
CLOUDINARY_SECRET_KEY = 

REDIS_URL =

ACTIVATION_SECRET = 

ACCESS_TOKEN = 
REFRESH_TOKEN = 

ACCESS_TOKEN_EXPIRE = 5
REFRESH_TOKEN_EXPIRE = 3

SMTP_HOST = smtp.gmail.com
SMTP_PORT = 465
SMTP_SERVICE = gmail
SMTP_MAIL = 
SMTP_PASSWORD = 